.app__navbar {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #ffffff40;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid #ffffff3a;
    position: fixed;
    z-index: 2; 

}

// sass lets you nast components

.app__navbar-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    img {
        width: 150px;
        height: 30px;

        @media screen and (min-width: 2000px) {
            width: 180px;
            height: 40px;
        }
    }
}

.app__navbar-links {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    list-style: none;

    li {
        margin: 0 1rem;
        cursor: pointer;
        flex-direction: column;

        div {
            width: 5px;
            height: 5px;
            background: transparent;
            border-radius: 50%;
        }

        a {
            color: var(--gray-color);
            text-decoration: none;
            flex-direction: column;
            text-transform: uppercase;
            font-weight: 500;
            transition: all 0.3s ease-in-out;

            // & means refering to the element we are inside of
            &:hover {
                color: #c69a9e;
            }
        }

        &:hover {
           div {
            background: #c69a9e;
           } 
        }
    }

    @media screen and (max-width: 900px) {
        display: none;
    }
}

.app__navbar-menu {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--gray-color);

    svg {
        width:70%;
        height: 70%;
        color: var(--white-color);
    }

    div {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: 5;
        padding: 1rem;
        width: 70%;
        height: 100vh;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        flex-direction: column;
        box-shadow: 0 0 20px #a8a8a826;
        background-color: #c69a9e;
        z-index: -1;

        svg {
            width: 35px;
            height: 35px;
            color: #ffffff;
            margin: 0.5rem 1rem;
            display: flex;
            flex-direction: column-reverse;
            justify-content: flex-end;
            align-self: baseline;
        }

        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            height: 100%;
            width: 100%;

            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;

            li {
                margin: 1rem;
                
                a {
                    color:#ffffff;
                    text-decoration: none;
                    text-transform: uppercase;
                    font-size: 1rem;
                    font-weight: 500;

                    transition: all 0.3s ease-in-out;

                    // & means refering to the element we are inside of
                    &:hover {
                        color: var(--gray-color);
                    }
                }
            }
        }

        @media screen and (min-width: 900px) {
            display: none;
        }
    }

    @media screen and (min-width: 900px) {
        display: none;
    }
}

